Django==4.2.7
django-channels==0.7.0
djangorestframework==3.14.0
pytest-django==4.7.0
gunicorn==21.2.0
uvicorn==0.24.0.post1
django-debug-toolbar==4.2.0
flake8==6.1.0
celery==5.3.6
Pillow==10.1.0
django-celery-results==2.5.1
redis==5.0.1